.container:not(.header) {
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    color: black;
    transition: color 0.4s linear;
}

a.footer-ref {
    color: white;
}

a:hover {
    color: grey;
}

.dropdown-menu {
    background-color:rgba(255,255,255,.8);
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
}
#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
    padding-right: 0px;
    padding-left: 0px;
}

#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

#basket-dp {
    min-width: 500px;
}
/*
#basket-dp td:nth-child(2):not(:last-child), #basket-dp th:nth-child(2):not(:last-child) {
    max-width: 50px;
}*/

#basket-dp tr td:nth-of-type(2):not(:last-child), #basket-dp tr th:nth-of-type(2):not(:last-child) {
    max-width: 50px;
}

/*

#basket-dp tfoot td:first-child {
    font-weight: bold;
}*/

table.basket tr td:nth-of-type(2):not(:last-child), table.basket tr th:nth-of-type(2):not(:last-child) {
    max-width: 30px;
}

table.basket tr td:last-child, table.basket tr th:last-child {
    max-width: 30px;
}

table.basket td:nth-child(3), table.basket td:nth {
    max-width: 100px;
}

.store-link {
    text-align: right;
    font-weight: bold;
}

#basket-dp tfoot td {
    font-weight: bold;
}


.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

#btn-order {
    margin-right: 10px;
}

.card-wrapper {
    margin-bottom: 20px;
}

/* Fix for height problem */
.carousel-item {
    height: unset;
}